---
---
@import 'constants';

.browser-navbar {
    overflow: hidden;
    height: 60px;
    background-color: $kv-green;

    .container {
        position: relative;
        padding-top: 12px;
    }
}

.browser-navbar-left {
    float:left;

    p {
        font-size: 1.25rem;
        margin-top: 4px;
    }
}

.browser-navbar-right {
    float: right;
}

.browser-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    @media (min-width: 1152px) {
        max-width: 1152px;

        justify-content: flex-start;
        margin: auto;
    }
}

.browser-list-element {
    position: relative;
    background-color: red;
    flex-shrink: 1;

    max-width: 384px;

    img {
        max-width: 100%;
    }

    div {
        position: absolute;
        bottom: 0;

        width: 100%;
        background-color: rgba(140, 181, 50, 0.4)
    }
}